@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 2.2rem;
  margin-top: 80px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  background: rgb(196 181 253);
  margin: 1vw auto;
  position: relative;
  text-align: center;
  width: 94vw;
}

.product {
  flex: auto;
  font-size: 1.5rem;
  margin: 0 1vw calc(1vw + 50px) 1vw;
  vertical-align: middle;
  min-width: calc(33% - 2vw);
  max-width: calc(40%);
  position: relative;
}

.product:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.content {
  background: white;
  border-radius: 30%;
  height: 84%;
  margin: 2%;
  position: absolute;
  width: 84%;
  vertical-align: middle;
  z-index: 5000;
}

.product:hover .effect-1,
.product:hover .effect-2 {
  display: block;
}

.effect-1,
.effect-2 {
  border-radius: 30%;
  display: none;
  mix-blend-mode: multiply;
  height: 84%;
  opacity: 1;
  position: absolute;
  width: 84%;
  z-index: 3000;
}

.effect-1 {
  animation: rotate 1.8s linear infinite;
  background: cyan;
}

.effect-2 {
  animation: rotate 1.2s linear reverse infinite;
  background: #e7a9ff;
}

@keyframes rotate {
  0% {
    top: 0;
    left: 8%;
  }
  25% {
    top: 8%;
    left: 0%;
  }
  50% {
    top: 16%;
    left: 8%;
  }
  75% {
    top: 8%;
    left: 16%;
  }
  100% {
    top: 0;
    left: 8%;
  }
}

.title {
  position: relative;
  top: calc(100% + 16px);
}

.title span {
  display: block;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  margin-top: 8px;
  text-transform: uppercase;
}

.exercise {
  background-image: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
  border-radius: 5px;
  height: 50%;
  margin: 25%;
  width: 50%;
}

.sleep {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-radius: 50%;
  height: 50%;
  margin: 25%;
  width: 50%;
}

.meditation {
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  border-radius: 5px;
  height: 40%;
  margin: 30%;
  transform: rotate(45deg);
  width: 40%;
}

html {
  background-color: rgb(196 181 253);
}

body {
  color: #272727;
  background: rgb(196 181 253);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

carta-blanca {
  background: linear-gradient(to bottom left, #b9b0b0 40%, #fff6f6 100%);
}

carta-marron {
  background: linear-gradient(to bottom left, #975942 40%, #ffc39e 100%);
}

carta-rosa {
  background: linear-gradient(to bottom left, #ef8d9c 40%, #fcddd2 100%);
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #b9b0b0 40%, #fff6f6 100%);
}

.card_content1 {
  padding: 1rem;
  background: linear-gradient(to bottom left, #975942 40%, #ffc39e 100%);
}

.card_content2 {
  padding: 1rem;
  background: linear-gradient(to bottom left, #ef8d9c 40%, #fcddd2 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.meditation-wrapper {
  margin: 7rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.in-out {
  animation: out 4s cubic-bezier(0.39, 0.575, 0.565, 1) alternate infinite;
}
.circle-1 {
  border-radius: 100%;
  width: 70%;
  height: 70%;
  background: #00ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 60px 40px #00ffff;
}
.circle-2 {
  border-radius: 50%;
  width: 60%;
  height: 60%;
  background: rgba(122, 255, 255, 0.2);
  box-shadow: 1px 1px 80px 20px #00ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-3 {
  border-radius: 50%;
  width: 15%;
  height: 15%;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 70px 35px #ffff;
}

@keyframes out {
  100% {
    transform: scale(1.5, 1.5);
  }
}

elbody {
  background: #0e011c;
  color: #f2f2f2;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
elp {
  padding: 0.5rem;
}

.meditation-wrapper {
  margin: 7rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.in-out {
  animation: out 4s cubic-bezier(0.39, 0.575, 0.565, 1) alternate infinite;
}
.circle-1 {
  border-radius: 100%;
  width: 70%;
  background: #00ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 60px 40px #00ffff;
}
.circle-2 {
  border-radius: 50%;
  width: 60%;
  height: 60%;
  background: rgba(122, 255, 255, 0.2);
  box-shadow: 1px 1px 80px 20px #00ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-3 {
  border-radius: 50%;
  width: 15%;
  height: 15%;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 70px 35px #ffff;
}

@keyframes out {
  100% {
    transform: scale(1.5, 1.5);
  }
}
